
body {
  background-color: rgb(204, 209, 202);
    width: 80%; 
    margin-left:auto; 
    margin-right: auto; 
}
h1 {
  font-family: 'Pacifico', cursive;
  font-family: 'Slabo 47px', serif;
  text-align: center;
  font-size: 70px;
  margin-top: 5px;

  text-shadow: 0 0 4px #ccc, 
  0 -5px 4px #ff3, 
  2px -10px 6px #fd3, 
  -2px -15px 11px #f80, 
  2px -38px 88px #f20;
}
.description {
  font-family: 'Slabo 37px', serif;
  font-size: 35px;
  text-align: center;
  margin-top: -10px;
  letter-spacing: 2px;

  text-shadow: 3px 2px 0 rgb(255, 255, 255);
  color: #424141;
}
button {
  font-size: 8px;
}
button:hover {
  background-color: #42b9f4;
}
footer {
  text-align: center;
  font-family: 'Pacifico', cursive;
}
#hangmanInformation {
  font-family: 'Slabo 37px', serif;
  text-align: center;
  text-overflow: ellipsis;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 30px;
  letter-spacing: 1px;
  text-shadow: 4px 1px 0 rgb(247, 244, 244);
  color: #424141;
}
#game {
  display: flex;
  padding-top: 20px;
  padding-left: 50px;
  height: 100vh;
}
#beginGame {
  text-align: center;
  padding-top: 25px;
  padding-left: 222px;
}
#execution {
  height: 275px;
  width: 250px;
}
#hiddenWordContainer {
  font-family: 'Pacifico', cursive;
  font-family: 'Slabo 27px', serif;
  text-align: center;
  width: 650px;
  height: 100px;
}
#hidden {
  text-align: center;
  font-size: 45px;
  padding-left: 195px;
  margin: 0px;
}
#alphabet {
  height: 140px;
  width: 400px;
  margin: -60px 10px 50px;
  padding-left: 70px;
  text-align: center;

  -webkit-box-shadow: 10px 0 40px #333 inset;
  -moz-box-shadow: 0 0 20px #333 inset;
  box-shadow: 0 0 20px #333 inset;
  padding-left: 40px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  border: 1px rgb(64, 64, 64) solid;
  border-radius: 5px;
  

}
.btn{
  background-color: rgb(7, 7, 7);
    border: none;
    color: rgb(250, 246, 246);
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border: 0.5px solid black;
}
.letter {
  padding-top: 2px;
}
#wordsAndButtons {
  width: 500px;
  height: 275px;
  margin-right: 150px;
  padding: 100px;
}
#incorrectTryBox {
  font-family: 'Slabo 37px', serif;
  width: 100px;
  font-size: 20px;
  text-align: left;
  margin-left: -200px;
}
/* hangmans body parts aand  the execution pole*/
#executionPole {
  height: 250px;
  width: 10px;
  margin-top: -260px;
  margin-left: 50px;
  background-color: black;
}

#executionBase {
  height: 10px;
  width: 250px;
  margin-top: 260px;
  background-color: black;
  
}

#executionTop {
  height: 10px;
  width: 140px;
  margin-top: -260px;
  margin-left: 50px;
  background-color: black;
}
  
#executionRope {
  height: 30px;
  width: 6px;
  margin-left: 180px;
  margin-top: 0px;
  background-color: rgb(5, 5, 5);
}
#hangmanHead {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 163px;
  background-color: rgb(95, 93, 93);
}
#hangmanBody {
  height: 70px;
  width: 23px;
  margin-left: 171px;
  background-color: green;
}
#hangmanLeftArm {
  height: 45px;
  width: 10px;
  margin-left: 151px;
  margin-top: -85px;
  transform: rotate(-120deg);
  background-color: green;
}
#hangmanRightArm {
  height: 45px;
  width: 10px;
  margin-left: 204px;
  margin-top: -45px;
  transform: rotate(120deg);
  background-color: green;
}
#hangmanLeftLeg {
  height: 55px;
  width: 10px;
  margin-left: 162px;
  margin-top: 35px;
  transform: rotate(20deg);
  background-color: blue;
}

#hangmanRightLeg {
  height: 55px;
  width: 10px;
  margin-left: 193px;
  margin-top: -55px;
  transform: rotate(-20deg);
  background-color: rgb(6, 6, 248);
}
span{
  color: rgb(65, 65, 189);
  text-decoration: underline;
  font-style: italic;
}
.newGameClassButton{
margin-left: -200px;
border-radius: 5px;
margin-top: -90px;
border: 0.5px solid rgb(54, 53, 53);
}
@media screen and (min-width: 480px) {
  body {
      background-color: rgb(214, 213, 214);
  }
}